<div id="<%= dom_id assembled_exam_question %>">
  <p>
    <strong>Practice exam:</strong>
    <%= assembled_exam_question.practice_exam_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= assembled_exam_question.question_id %>
  </p>

  <p>
    <strong>Question choice:</strong>
    <%= assembled_exam_question.question_choice_id %>
  </p>

</div>
