<h1>Editing assembled exam question</h1>

<%= render "form", assembled_exam_question: @assembled_exam_question %>

<br>

<div>
  <%= link_to "Show this assembled exam question", @assembled_exam_question %> |
  <%= link_to "Back to assembled exam questions", assembled_exam_questions_path %>
</div>
