<div id="<%= dom_id question_choice %>">
  <p>
    <strong>Response:</strong>
    <%= question_choice.response %>
  </p>

  <p>
    <strong>Is correct:</strong>
    <%= question_choice.is_correct %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question_choice.question_id %>
  </p>

</div>
