<h1>Editing question choice</h1>

<%= render "form", question_choice: @question_choice %>

<br>

<div>
  <%= link_to "Show this question choice", @question_choice %> |
  <%= link_to "Back to question choices", question_choices_path %>
</div>
