<h1>Editing practice exam</h1>

<%= render "form", practice_exam: @practice_exam %>

<br>

<div>
  <%= link_to "Show this practice exam", @practice_exam %> |
  <%= link_to "Back to practice exams", practice_exams_path %>
</div>
