body {
  background-color: white !important; /* Dark gray color */
  /* You can adjust the shade of gray by changing the hex value */
}

/*Nav bar*/
.navbar{
  background-color: #26C5F3;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: #4E2C70; /* Change the color of the text to white or any other color that contrasts well with the navbar background */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
   /* Change the color of the text on hover if desired */
  color: #2B2D42;
}

.bigger-bold {
  font-size: 20px;
  font-weight: bold;
}


/*Button*/
.btn{
  background-color:mediumorchid

}


/*Button*/
.centered-form {
  width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.centered-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-inputs {
  margin-bottom: 20px;
}

.form-inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.form-actions {
  text-align: center;
}

.form-actions button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: green;
}
