<div id="<%= dom_id exam %>">
  <p>
    <strong>Name:</strong>
    <%= exam.name %>
  </p>

  <p>
    <strong>Max num questions:</strong>
    <%= exam.max_num_questions %>
  </p>

  <p>
    <strong>Max duration:</strong>
    <%= exam.max_duration %>
  </p>

</div>
