<p style="color: green"><%= notice %></p>

<h1>Exams</h1>

<div id="exams">
  <% @exams.each do |exam| %>
    <p>
      <p>
        <%= link_to exam.name, exam, class: "exam-button" %>
    </p>
  <% end %>
</div>
